.pages a, .pages span {
    display: inline-block;
    padding: 2px 5px;
    margin-left: 5px;
    border: 1px solid #f0f0f0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.pages a, .pages li {
    display: inline-block;
    list-style: outside none none;
    margin-left: 5px;
    text-decoration: none;
}

.pages a.first, .pages a.prev, .pages a.next, .pages a.end {
    margin-left: 5px;
}

.pages a:hover {
    border-color: #50A8E6;
}

.pages span.current {
    background: #e7141b none repeat scroll 0 0;
    border-color: #e7141b;
    color: #fff;
    font-weight: 700;
}