<extend name="./base/base"/>
<block name="title"><title>{$title}</title></block>

<block name="top">
    <script type="text/javascript">
        $(function () {
            $("#contactUs").addClass("select_menu");
        })
    </script>
    <include file="common/head"/>
</block>
<block name="menu">
    <include file="common/topmenu"/>
</block>

<block name="body">
    <style>
        .footer_tool {
            width: 200px;
            height: 150px;
            position: fixed;
            bottom: 210px;
            right: 50px;
        }

        .footer_tool ul {
            width: 50px;
            height: 160px;
            position: absolute;
            left: 0px;
            top: 0px;
        }

        .footer_tool ul li {
            display: block;
            width: 50px;
            height: 55px;
        }

        .footer_tool ul li a {
            display: block;
            width: 50px;
            height: 50px;
            position: relative;
            zoom: 1;
        }

        .footer_tool ul li a#back {
            display: none;
        }
    </style>
    <div class="footer_tool">
        <ul>
            <li><a style="display: inline;" href="javascript:;" id="back"><img
                    src="__PUBLIC__/images/gxh/tool_top.png"
                    alt="" border="0"></a></li>
        </ul>
    </div>
    <div class="container" style="height:450px;margin-top: 10px;" align="center">
        <div style="height:450px;background-position:center center;background-repeat: no-repeat;background-size:100% auto;background-image: url('__PUBLIC__/img/about_us_01.jpg');"></div>
    </div>

    <div class="row block">
        <div class="col-lg-12" align="center" style="margin-top: 50px;margin-bottom: 50px;">
            <p><span style="font-size:40px;font-family:Arial;color:#02B389;">ABOUT US</span></p>
            <p>
                    <span style="font-family:微软雅黑;color:#E2E3E5;">
                        ——————— &nbsp;
                        <span style="font-family:微软雅黑;font-size:18px;color:#333333;">关于我们</span>
                        &nbsp;———————
                    </span>
            </p>
        </div>
    </div>
    <div class="container container_ab">
        <br>
        <div class="aside-info l">
            <ul class="menu f14">
                <li><a href="#introduce" class="current" name="introduce">集团介绍</a></li>
                <li><a href="#devp" name="devp">集团规模</a></li>
                <li><a href="#theory" name="theory">教育理念</a></li>
                <li><a href="#backgd" name="backgd">教育愿景</a></li>
                <li><a href="jobs.html#jobs">人才招聘</a></li>
                <li><a href="contact.html#contact">联系我们</a></li>
                <li><a href="#advise">建议投诉</a></li>
            </ul>
        </div>
        <div class="article-info r">
            <div class="bdr-gray lh25">
                <div id="js_content" class="rich_media_content ">
                    <div id="seciontion-0">
                        <section class=""
                                 style="border: 0px; margin-top: 1em; margin-bottom: 0.5em; clear: both; box-sizing: border-box;">
                            <section class=""
                                     style="border-top-width: 2px; border-top-style: solid; border-color: rgb(199, 59, 59); padding-top: 3px; font-size: 1em; font-family: inherit; text-decoration: inherit; color: rgb(255, 255, 255); box-sizing: border-box;">
                                <section class=""
                                         style="display: inline-block; padding-right: 0.5em; padding-left: 0.5em; height: 2em; line-height: 2em; vertical-align: top; font-size: 1em; font-family: inherit; box-sizing: border-box; background-color: rgb(199, 59, 59);">
                                    <section style="box-sizing: border-box;" class="" id="introduce">集团介绍</section>
                                </section>
                                <section class=""
                                         style="width: 0px; display: inline-block; vertical-align: top; border-left-width: 0.8em; border-left-style: solid; border-left-color: rgb(199, 59, 59); border-top-width: 1em; border-top-style: solid; border-top-color: rgb(199, 59, 59); font-size: 1em; font-family: inherit; border-right-width: 0.8em !important; border-right-style: solid !important; border-right-color: transparent !important; border-bottom-width: 1em !important; border-bottom-style: solid !important; border-bottom-color: transparent !important; box-sizing: border-box;"></section>
                            </section>
                            <section style="width: 0px; height: 0px; clear: both;"></section>
                        </section>
                        <p><span style="font-size: 14px; color: rgb(136, 136, 136);"><br></span></p>
                        <p style="text-align: center;overflow: hidden;"><span
                                style="font-size: 14px; color: rgb(136, 136, 136);">
                        <img src="__PUBLIC__/images/wzshool.jpg"><br></span>
                        </p>
                        <p><span style="font-size: 14px; color: rgb(136, 136, 136);">快乐学习教育科技集团，福建省最大、全国最具影响力的大型教育机构之一，成立于2005年，现已在厦门、福州、泉州、南昌、合肥开设了近50个旗舰校区，工作人员1300余人。</span>
                        </p>
                        <p><span style="font-size: 14px; color: rgb(136, 136, 136);">&nbsp;</span></p>
                        <p><a style="text-decoration: underline; font-size: 14px; color: rgb(136, 136, 136);"
                              name="_Toc446579261"><span style="font-size: 14px; color: rgb(136, 136, 136);"></span></a>
                        </p>
                        <section class=""
                                 style="border: 0px; margin-top: 1em; margin-bottom: 0.5em; clear: both; box-sizing: border-box;"></section>
                    </div>
                    <div id="section-1">
                        <section class=""
                                 style="border-top-width: 2px; border-top-style: solid; border-color: rgb(199, 59, 59); padding-top: 3px; font-size: 1em; font-family: inherit; text-decoration: inherit; color: rgb(255, 255, 255); box-sizing: border-box;">
                            <section class=""
                                     style="display: inline-block; padding-right: 0.5em; padding-left: 0.5em; height: 2em; line-height: 2em; vertical-align: top; font-size: 1em; font-family: inherit; box-sizing: border-box; background-color: rgb(199, 59, 59);">
                                <section style="box-sizing: border-box;" class="" id="devp">发展规模</section>
                            </section>
                            <section class=""
                                     style="width: 0px; display: inline-block; vertical-align: top; border-left-width: 0.8em; border-left-style: solid; border-left-color: rgb(199, 59, 59); border-top-width: 1em; border-top-style: solid; border-top-color: rgb(199, 59, 59); font-size: 1em; font-family: inherit; border-right-width: 0.8em !important; border-right-style: solid !important; border-right-color: transparent !important; border-bottom-width: 1em !important; border-bottom-style: solid !important; border-bottom-color: transparent !important; box-sizing: border-box;"></section>
                        </section>
                        <section style="width: 0px; height: 0px; clear: both;"></section>
                        <p><a style="text-decoration: underline; font-size: 14px; color: rgb(136, 136, 136);"
                              name="_Toc446579261"><span style="font-size: 14px; color: rgb(136, 136, 136);"></span></a><br>
                        </p>
                        <p><span style="font-size: 14px; color: rgb(136, 136, 136);">快乐学习教育科技集团旗下拥有“快乐学习”教育培训学校、“享学”网络科技、“艾酷”游学、厦门“佳音”少儿英语、“采艺”艺考项目等多个教育品牌。我们开创独特学习方法，形成多元化品牌，改变教育业态。三尺讲台是我们的起点，更是我们通向美好未来的桥梁。</span>
                        </p>
                        <p><span style="font-size: 14px; color: rgb(136, 136, 136);">&nbsp;</span></p>
                        <p style="text-align: center;"><span style="font-size: 14px; color: rgb(136, 136, 136);"><img
                                src="__PUBLIC__/images/0.png"><br></span>
                        </p>
                        <p style="text-align: center;"><strong><span
                                style="font-size: 14px; color: rgb(217, 33, 66);"> “快乐学习”教育培训学校</span></strong></p>
                        <p><strong><span style="font-size: 14px; color: rgb(217, 33, 66);"><br></span></strong></p>
                        <p><span style="font-size: 14px; color: rgb(136, 136, 136);">秉承“有进步，学习当然快乐”的理念，旨在为6-18岁的中小学生提供专业的课外辅导，为家长提供科学的家庭教育指导，为实施素质教育推广与传播快乐学习法。快乐学习针对K12领域不同对象设计出大小班、个性化1对1、个性化mini课程等多样的教学模式。</span>
                        </p>
                        <p><span style="font-size: 14px; color: rgb(136, 136, 136);">&nbsp;</span></p>
                        <p style="text-align: center;"><strong><span
                                style="font-size: 14px; color: rgb(217, 33, 66);"><img
                                src="__PUBLIC__/images/t1.png"><br></span></strong><span
                                style="color: rgb(61, 170, 214);"><strong style="line-height: 1.6;"><span
                                style="font-size: 14px; color: rgb(61, 170, 214);">“享学”网络科技</span></strong></span></p>
                        <p><strong><span style="font-size: 14px; color: rgb(217, 33, 66);"><br></span></strong></p>
                        <p><span style="font-size: 14px; color: rgb(136, 136, 136);">打造全新的中小学教育机构信息化服务平台，重磅开创“疯狂老师”App项目，获得腾讯独投。旨在完美贯通线上线下、引领未来教育行业发展的必然之势。</span>
                        </p>
                        <p><span style="font-size: 14px; color: rgb(136, 136, 136);">&nbsp;</span></p>
                        <p style="text-align: center;"><strong><span
                                style="font-size: 14px; color: rgb(217, 33, 66);"><img
                                src="__PUBLIC__/images/t2.png"><br></span></strong><strong><span
                                style="font-size: 14px; color: rgb(0, 0, 0);">“艾酷”游学</span></strong><span
                                style="color: rgb(0, 0, 0);"><strong style="line-height: 1.6;"><span
                                style="font-size: 14px; color: rgb(217, 33, 66);"></span></strong><strong
                                style="line-height: 1.6;"></strong><strong style="line-height: 1.6;"><span
                                style="font-size: 14px; color: rgb(217, 33, 66);"></span></strong><strong
                                style="line-height: 1.6;"></strong><strong style="line-height: 1.6;"><span
                                style="font-size: 14px; color: rgb(217, 33, 66);"></span></strong></span></p>
                        <p><span style="font-size: 14px; color: rgb(136, 136, 136);"><br></span></p>
                        <p><span style="font-size: 14px; color: rgb(136, 136, 136);">中国体验式教育领跑者，拥有国内冬夏令营和国际游学两个品类，为青少年学生提供具有深远教育意义的文化探索和发现之旅。</span>
                        </p>
                        <p><span style="font-size: 14px; color: rgb(136, 136, 136);">&nbsp;</span></p>


                        <p style="text-align: center;"><strong><span
                                style="font-size: 14px; color: rgb(217, 33, 66);"><img
                                src="__PUBLIC__/images/t7.png"><br></span></strong><strong><span
                                style="font-size: 14px; color: rgb(0, 0, 0);">厦门“佳音”少儿英语</span></strong><span
                                style="color: rgb(0, 0, 0);"><strong style="line-height: 1.6;"><span
                                style="font-size: 14px; color: rgb(217, 33, 66);"></span></strong><strong
                                style="line-height: 1.6;"></strong><strong style="line-height: 1.6;"><span
                                style="font-size: 14px; color: rgb(217, 33, 66);"></span></strong><strong
                                style="line-height: 1.6;"></strong><strong style="line-height: 1.6;"><span
                                style="font-size: 14px; color: rgb(217, 33, 66);"></span></strong></span></p>

                        <p><span style="font-size: 14px; color: rgb(136, 136, 136);"><br></span></p>
                        <p><span style="font-size: 14px; color: rgb(136, 136, 136);">旨在提供适合中国儿童的专业英语教育，通过优质的教材、独特的教学方法、完善的教学管理和严格的师资培训机制，使孩子们的英语能更上一层楼。</span>
                        </p>
                        <p><span style="font-size: 14px; color: rgb(136, 136, 136);">&nbsp;</span></p>
                        <p style="text-align: center;"><strong><span
                                style="font-size: 14px; color: rgb(217, 33, 66);"><img
                                src="__PUBLIC__/images/t5.png"><br></span></strong><strong><span
                                style="font-size: 14px; color: rgb(121, 123, 170); line-height: 1.6;"> “采艺”艺考项目</span></strong>
                        </p>
                        <p><span style="font-size: 14px; color: rgb(136, 136, 136);"><br></span></p>
                        <p><span style="font-size: 14px; color: rgb(136, 136, 136);">快乐学习教育科技集团与中厦国际合作的重点项目，强强联合共同打造福建省知名艺考培训基地，师资强大，教学专业，包含艺术类课程、文化类课程。</span>
                        </p>
                    </div>
                    <div id="section-2">
                        <p><span style="font-size: 14px; color: rgb(136, 136, 136);">&nbsp;</span></p>
                        <p><a style="text-decoration: underline; font-size: 14px; color: rgb(136, 136, 136);"
                              name="_Toc446579263"><span style="font-size: 14px; color: rgb(136, 136, 136);"></span></a>
                        </p>
                        <section class=""
                                 style="border: 0px; margin-top: 1em; margin-bottom: 0.5em; clear: both; box-sizing: border-box;">
                            <section class=""
                                     style="border-top-width: 2px; border-top-style: solid; border-color: rgb(199, 59, 59); padding-top: 3px; font-size: 1em; font-family: inherit; text-decoration: inherit; color: rgb(255, 255, 255); box-sizing: border-box;">
                                <section class=""
                                         style="display: inline-block; padding-right: 0.5em; padding-left: 0.5em; height: 2em; line-height: 2em; vertical-align: top; font-size: 1em; font-family: inherit; box-sizing: border-box; background-color: rgb(199, 59, 59);">
                                    <section style="box-sizing: border-box;" class="" id="theory">教育理念</section>
                                </section>
                                <section class=""
                                         style="width: 0px; display: inline-block; vertical-align: top; border-left-width: 0.8em; border-left-style: solid; border-left-color: rgb(199, 59, 59); border-top-width: 1em; border-top-style: solid; border-top-color: rgb(199, 59, 59); font-size: 1em; font-family: inherit; border-right-width: 0.8em !important; border-right-style: solid !important; border-right-color: transparent !important; border-bottom-width: 1em !important; border-bottom-style: solid !important; border-bottom-color: transparent !important; box-sizing: border-box;"></section>
                            </section>
                            <section style="width: 0px; height: 0px; clear: both;"></section>
                        </section>
                        <p><a style="text-decoration: underline; font-size: 14px; color: rgb(136, 136, 136);"
                              name="_Toc446579263"><span style="font-size: 14px; color: rgb(136, 136, 136);"></span></a><br>
                        </p>
                        <p style="text-align: center"><img src="__PUBLIC__/images/t4.jpg"><br>
                        </p>
                        <p><strong style="line-height: 1.6;"><span
                                style="font-size: 14px; color: rgb(217, 33, 66);"><br></span></strong></p>
                        <p><strong style="line-height: 1.6;"><span
                                style="font-size: 14px; color: rgb(217, 33, 66);">纯粹的教育</span></strong><br></p>
                        <p><span style="font-size: 14px; color: rgb(136, 136, 136);">把快乐还给孩子，把自由还给孩子，把真爱还给孩子&mdash;&mdash;这是快乐学习永远坚持的教育，纯粹的教育。</span>
                        </p>
                        <p><span style="font-size: 14px; color: rgb(136, 136, 136);">通过教育，我们要让孩子成为有幸福感的一代人，这种幸福，来源于学习的快乐、来源于梦想的自由、来源于对生活的真爱，这就是我们“纯粹的教育”理念提出的背景。</span>
                        </p>
                        <p><span style="font-size: 14px; color: rgb(136, 136, 136);">&nbsp;</span></p>
                        <p><strong><span
                                style="font-size: 14px; line-height: 1.6; color: rgb(217, 33, 66);">有进步，学习当然快乐。</span></strong>
                        </p>
                        <p><span style="font-size: 14px; color: rgb(136, 136, 136);">孩子的进步成长就是快乐学习教育工作的附加值。一直以来，无数学生在快乐学习独特的“境教”里，感受师生之间最本真的状态，体验“有进步，学习当然快乐”的成长喜悦。</span>
                        </p>
                    </div>
                    <div id="section-3">
                        <p><span style="font-size: 14px; color: rgb(136, 136, 136);">&nbsp;</span></p>
                        <p><a style="text-decoration: underline; font-size: 14px; color: rgb(136, 136, 136);"
                              name="_Toc446579264"><span style="font-size: 14px; color: rgb(136, 136, 136);"></span></a>
                        </p>
                        <section class=""
                                 style="border: 0px; margin-top: 1em; margin-bottom: 0.5em; clear: both; box-sizing: border-box;">
                            <section class=""
                                     style="border-top-width: 2px; border-top-style: solid; border-color: rgb(199, 59, 59); padding-top: 3px; font-size: 1em; font-family: inherit; text-decoration: inherit; color: rgb(255, 255, 255); box-sizing: border-box;">
                                <section class=""
                                         style="display: inline-block; padding-right: 0.5em; padding-left: 0.5em; height: 2em; line-height: 2em; vertical-align: top; font-size: 1em; font-family: inherit; box-sizing: border-box; background-color: rgb(199, 59, 59);">
                                    <section style="box-sizing: border-box;" class="" id="backgd">教育愿景</section>
                                </section>
                                <section class=""
                                         style="width: 0px; display: inline-block; vertical-align: top; border-left-width: 0.8em; border-left-style: solid; border-left-color: rgb(199, 59, 59); border-top-width: 1em; border-top-style: solid; border-top-color: rgb(199, 59, 59); font-size: 1em; font-family: inherit; border-right-width: 0.8em !important; border-right-style: solid !important; border-right-color: transparent !important; border-bottom-width: 1em !important; border-bottom-style: solid !important; border-bottom-color: transparent !important; box-sizing: border-box;"></section>
                            </section>
                            <section style="width: 0px; height: 0px; clear: both;"></section>
                        </section>
                        <p><a style="text-decoration: underline; font-size: 14px; color: rgb(136, 136, 136);"
                              name="_Toc446579264"><span style="font-size: 14px; color: rgb(136, 136, 136);"></span></a><br>
                        </p>
                        <p style="text-align: center"><strong style="line-height: 1.6"><span
                                style="font-size: 14px; color: rgb(217, 33, 66);">
                             <img src="__PUBLIC__/images/t3.jpg"><br></span></strong>
                        </p>
                        <p><strong style="line-height: 1.6;"><span
                                style="font-size: 14px; color: rgb(217, 33, 66);">教育改变中国</span></strong></p>
                        <p><span style="font-size: 14px; color: rgb(136, 136, 136);">用纯粹的教育涤荡着每一位成员的心灵，为纯粹的教育培养纯粹的老师，这是快乐学习践行“教育改变中国”梦想的第一步。唤醒一个教师，就唤醒了几十个孩子，这是一种因为专业而变得纯粹的教育使命。</span>
                        </p>
                    </div>
                    <div id="section-4">
                        <section class=""
                                 style="border-top-width: 2px; border-top-style: solid; border-color: rgb(199, 59, 59); padding-top: 3px; font-size: 1em; font-family: inherit; text-decoration: inherit; color: rgb(255, 255, 255); box-sizing: border-box;">
                            <section class=""
                                     style="display: inline-block; padding-right: 0.5em; padding-left: 0.5em; height: 2em; line-height: 2em; vertical-align: top; font-size: 1em; font-family: inherit; box-sizing: border-box; background-color: rgb(199, 59, 59);">
                                <section style="box-sizing: border-box;" class="" id="advise">建议投诉</section>
                            </section>
                            <section class=""
                                     style="width: 0px; display: inline-block; vertical-align: top; border-left-width: 0.8em; border-left-style: solid; border-left-color: rgb(199, 59, 59); border-top-width: 1em; border-top-style: solid; border-top-color: rgb(199, 59, 59); font-size: 1em; font-family: inherit; border-right-width: 0.8em !important; border-right-style: solid !important; border-right-color: transparent !important; border-bottom-width: 1em !important; border-bottom-style: solid !important; border-bottom-color: transparent !important; box-sizing: border-box;"></section>
                        </section>
                        <p>
                        <div style="margin-left: 10px"><span
                                style="font-size: 14px; color: rgb(136, 136, 136);">电话：0592-2042168<br><br>
                        邮箱：service@klxuexi.org（请注明姓名、电话和建议投诉内容）<br><br>
                        感谢您的关注，我们将第一时间予以回复！</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            var screen_height = document.documentElement.clientHeight;

            $(window).scroll(function () {
                if ($(document).scrollTop() > screen_height) {
                    $(".footer_tool a#back").fadeIn();
                } else {
                    $(".footer_tool a#back").fadeOut();
                }
            });

            $(".footer_tool").on("click", "a#back", function () {
                $("html,body").animate({scrollTop: 0}, 1000);
            });
        })

    </script>
</block>
<block name="footer">
    <div style="float:left; margin-top:20px;width: 100%">
        <include file="common/footer"/>
    </div>
</block>