<extend name="./base/base"/>
<block name="title"><title>{$title}</title></block>

<block name="top">
    <script type="text/javascript">
        $(function () {
            $("#contactUs").addClass("select_menu");
        })
    </script>
    <include file="common/head"/>
</block>
<block name="menu">
    <include file="common/topmenu"/>
</block>

<block name="body">
    <div class="container" style="height:450px;margin-top: 10px;" align="center">
        <div style="height:450px;background-position:center center;background-repeat: no-repeat;background-size:100% auto;background-image: url('__PUBLIC__/img/about_us_01.jpg');"></div>
    </div>

    <div class="row block" id="contact">
        <div class="col-lg-12" align="center" style="margin-top: 50px;margin-bottom: 50px;">
            <p><span style="font-size:40px;font-family:Arial;color:#02B389;">ABOUT US</span></p>
            <p>
                    <span style="font-family:微软雅黑;color:#E2E3E5;">
                        ——————— &nbsp;
                        <span style="font-family:微软雅黑;font-size:18px;color:#333333;">关于我们</span>
                        &nbsp;———————
                    </span>
            </p>
        </div>
    </div>
    <div class="container container_ab">
        <br>
        <div class="aside-info l">
            <ul class="menu f14">
                <li><a href="aboutus#introduce" name="introduce">集团介绍</a></li>
                <li><a href="aboutus#devp" name="devp">集团规模</a></li>
                <li><a href="aboutus#theory" name="theory">教育理念</a></li>
                <li><a href="aboutus#backgd" name="backgd">教育愿景</a></li>
                <li><a href="jobs.html#jobs">人才招聘</a></li>
                <li><a href="contact.html#contact" class="current">联系我们</a></li>
                <li><a href="aboutus#advise" name="advise">投诉建议</a></li>
            </ul>
        </div>
        <div class="article-info r">
            <div class="bdr-gray lh25">
                <h3>联系我们</h3>
                <br/>
                <!--<h4>快乐学习总部</h4>-->
                <!--<p>地址：厦门市文屏大厦四楼</p>-->
                <!--<p> 电话：0592—2042086,0592—2042053</p>-->
                <!--<br/>-->
                <h4> 快乐学习厦门分校</h4>
                <p> 文屏小班授课校区 电话：0592-2042696
                    <br>地址：厦门市文灶文屏大厦三、四楼（文灶加油站后）
                </p>

                <p>吕厝小班授课校区 电话：0592-2042698
                    <br>地址：厦门市吕厝锦绣广场二楼（宝龙中心斜对面）
                </p>

                <p> 思北小班授课校区 电话：0592-2042697
                    <br>地址：厦门市思北银行家园写字楼二楼（六中初中部正对面）
                </p>

                <p>瑞景小班授课校区 电话：0592-2042690
                    <br>地址：厦门市瑞景牛庄21号楼4楼（瑞景商业广场对面）
                </p>

                <p> 博物馆小班授课校区 电话：0592-2042699
                    <br>地址：厦门市思明区思明南路海洋花园384-390一楼（博物馆站正对面）
                </p>

                <p>莲坂小班授课校区 电话：0592-2042007
                    <br>地址：厦门市思明区湖滨南路富山女人街三楼（莲坂外图旁）
                </p>

                <p>集美小班授课校区 电话：0592-6224000
                     <br>地址：厦门市集美区集源路58号三楼（苏宁电器旁，工行楼上）
                </p>

                <p>杏林小班授课校区 电话：0592-6258080
                    <br>地址：厦门市集美区杏东路与纺织路交汇处（中国邮政二楼，祥发百货旁）
                </p>

                <p>同安小班授课校区 电话：0592-7770025
                    <br>地址：厦门市同安区三秀路同安宾馆怡宾楼三楼
                </p>

                <p>卧龙小班授课校区 电话：0592-2042778
                    <br>地址：厦门市思明区莲前西路太川大楼六楼（BRT卧龙晓城站旁）
                </p>

                <p>沧虹小班授课校区 电话：0592-6056556
                    <br>地址：厦门市海沧沧虹路103号（海沧房产站、工行隔壁）
                </p>

                <p>芸溪小班授课校区 电话：0592-7557600
                    <br>地址：厦门市祥平西路祥富佳园B2栋113-114号店面
                </p>

                <p>南山小班授课校区 电话：0592-2042878
                    <br>地址：厦门市南山路403号
                </p>

                <p>帝豪个性化授课校区 电话：0592-2042800
                    <br>地址：厦门市厦禾路820号文灶帝豪大厦608（麦当劳楼上）
                </p>

                <p> 吕厝个性化授课校区 电话：0592-2042900
                    <br>地址：厦门市湖滨北路锦绣广场二楼（宝龙中心斜对面）
                </p>

                <p> 思北个性化授课校区 电话：0592-2042700
                    <br>地址：厦门市角滨路9号银行家园写字楼二楼（入口在福鹏集团招牌处）
                </p>

                <p>瑞景个性化授课校区 电话：0592-2042400
                    <br>地址：厦门市瑞景牛庄21号楼5楼（加州商业广场旁）
                </p>

                <p>博物馆个性化授课校区 电话：0592-2042008
                    <br>地址：厦门市思明区海洋花园1楼（博物馆公交站对面）
                </p>

                <p>莲坂个性化授课校区 电话：0592-2042001
                    <br>地址：厦门市思明区湖滨南路富山女人街3楼（莲坂外图书城旁）
                </p>

                <p>集美个性化授课校区 电话：0592-6224111
                    <br>地址：厦门市集美区集源路58号（麦当劳附件，海澜之家隔壁）
                </p>

                <p> 杏林大小班授课校区 电话：0592-6223911
                    <br>地址：厦门市杏林杏东路31号，工商银行对面（心远酒店隔壁）
                </p>

                <p> 卧龙大小班授课校区 电话：0592-2042808
                    <br>
                    地址：厦门市莲前西路太川大楼6楼（卧龙晓城BRT下）
                </p>

                <p> 同安大小班授课校区 0592-7770025
                    <br>地址：厦门市同安区三秀路276号同安宾馆怡宾楼三楼
                </p>

                <p>滨北个性化授课校区 电话：0592-2042006
                    <br>地址：厦门市思明区湖滨北路72号中闽大厦5楼501-502室（人民会堂旁）
                </p>

                <p>南山个性化授课校区 电话：0592-2042100
                    <br>地址：厦门市湖里南山路403号天呈商业中心4楼（禹州新村站旁）
                </p>

                <p>海沧个性化授课校区 电话：0592-6058618
                    <br>地址：厦门市海沧区沧虹路319号（建行进岛方向公交车站后面）
                </p>
                <br/>
                <h4> 快乐学习福州分校</h4>

                <p>南门小班授课校区 电话：0591-88086086
                    <br>地址：八一七中路九福商贸大厦三楼（市儿童医院正对面）
                </p>

                <p>侨雄小班授课校区 电话：0591-88086568
                    <br>地址：杨侨东路侨雄沿街商场二楼（侨雄公交站旁）
                </p>

                <p>仓山小班授课校区 电话：0591-88086558
                    <br>地址：上三路学生街广场二楼（程埔头站，工商银行后方）
                </p>

                <p>五四大小班授课校区 电话：0591-88037512
                    <br>地址：鼓楼区湖东路公正新苑社区二楼
                </p>

                <p>汉唐大小班授课校区 电话：0591-88601053
                    <br>地址：晋安区长乐北路117号汉唐文化城4座三楼
                </p>

                <p> 山亚大小班授课校区 电话：0591-83510232
                    <br>地址：福州市仓山区上三路216号山亚大厦A座5楼(跑马场公交站后面)
                </p>

                <p>五四个性化授课校区 电话：0591-83788880
                    <br>地址：福州市鼓楼区观风亭街公正新苑1号楼3层
                </p>

                <p>南门个性化授课校区 电话：0591-88086568
                    <br>地址：福州市鼓楼区八一七中路九福商贸大厦6层
                </p>

                <p>侨雄个性化授课校区 电话：0591-88318311
                    <br>地址：福州市鼓楼区杨桥东路沿街商场2层
                </p>

                <p>仓山个性化授课校区 电话：0591-88591211
                    <br>地址：福州市仓山区学生街城市广场二层
                </p>

                <p>台江宝龙个性化授课校区 电话：0591-83268322
                    <br>地址：福州市台江区宁化路126号福机新苑2-4号楼连接体二层10-13号
                </p>

                <p> 山亚个性化授课校区 电话：0591-83510232
                    <br>地址：福州市仓山区上三路216号山亚大厦A座5楼
                </p>
                <br/>
                <h4>快乐学习南昌分校</h4>

                <p> 孺子路授课校区 电话：0791-86297777
                    <br>地址：南昌市西湖区孺子路46号
                </p>

                <p> 豫章授课校区 电话：0791-82219620
                    <br>地址：南昌市东湖区象山北路豫章后街106号
                </p>

                <br/>
                <h4>快乐学习泉州分校</h4>

                <p>温陵校区 电话：0595-28092888
                    <br>地址：泉州市鲤城区丰泽街毅都大厦5-1(美食街正对面)
                </p>

                <p>北门街校区 电话：0595-28092988
                    <br>地址：泉州市鲤城区中山北路黎明大学旧校区快乐学习教育
                </p>

                <br/>
                <h4>快乐学习合肥分校</h4>

                <p> 恒丰校区 电话：400-0551-000
                    <br>地址：合肥市瑶海区凤阳路恒丰国际大厦五楼（新亚汽车站旁家乐福楼上）
                </p>

                <p> 帝豪校区 电话：400-0551-000
                    <br>地址：合肥市蜀山区潜山北路帝豪大厦五楼（潜山北路与淠河路交叉口）
                </p>

                <p>金万通校区 电话：400-0551-000
                    <br>地址：合肥市包河区南一环与徽州大道交汇处金万通大厦五楼
                </p>

            </div>
        </div>
    </div>
</block>
<block name="footer">
    <div style="float:left; margin-top:20px;width: 100%">
        <include file="common/footer"/>
    </div>
</block>