<style>
    .div_allinline {
        text-align: center;
        margin: 0 auto;
        padding: 0;
        clear: both;
        margin-top: 100px;
    }

    .subdiv_allinline {
        margin: 0;
        padding: 0;
        display: inline-block;
        _display: inline;
        *display: inline;
        zoom: 1;
        margin-left: 20px;
        margin-right: 20px;
    }

</style>
<div style="width:100%;height:auto;min-height:400px; background-color: #2E3440;overflow: hidden;">
    <div class="container">
        <div class="row" style="margin-top: 50px;">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" style="text-align: center;">
                <div style="color: #CCCCCC;font-size: 16px;">公司链接</div>
                <div style="color: #fff;font-size: 14px;margin-top: 10px;">
                    <div><a href="__ROOT__/index.php/Home/Index/xiamen" style="font-style: normal;color: white;">厦门地区</a></div>
                    <div><a href="__ROOT__/index.php/Home/Index/fuzhou" style="font-style: normal;color: white;">福州地区</a></div>
                    <div><a href="__ROOT__/index.php/Home/Index/nanchang" style="font-style: normal;color: white;">南昌地区</a></div>
                    <div><a href="__ROOT__/index.php/Home/Index/quanzhou" style="font-style: normal;color: white;">泉州地区</a></div>
                    <div><a href="__ROOT__/index.php/Home/Index/hefei" style="font-style: normal;color: white;">合肥地区</a></div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" style="text-align: center;">
                <div style="color: #CCCCCC;font-size: 16px;">旗下品牌</div>
                <div style="color: #fff;font-size: 14px;margin-top: 10px;">
                    <div>快乐学习</div>
                    <div><a href="http://www.entstudy.com/" style="font-style: normal;color: white;" target="_blank">疯狂老师</a></div>
                    <div>享学</div>
                    <div>问浩</div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 fl" style="text-align: center;">
                <div style="color: #CCCCCC;font-size: 16px;">关于我们</div>
                <div style="color: #fff;font-size: 14px;margin-top: 10px;">
                    <div><a href="{:U('Article/companyDesc')}" style="font-style: normal;color: white;">集团介绍</a></div>
                    <div><a href="{:U('Article/companyHistory')}"  style="font-style: normal;color: white;">发展历程</a></div>
                    <div><a href="{:U('Article/companyIdea')}" style="font-style: normal;color: white;">教育理念</a></div>
                    <div><a href="{:U('Article/companyHonor')}" style="font-style: normal;color: white;">集团荣誉</a></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" style="text-align: center;">
                <div style="color: #CCCCCC;font-size: 16px;">联系我们</div>
                <div style="color: #fff;font-size: 14px;margin-top: 15px;">
                    <div>
                        <img src="__PUBLIC__/images/dxb/102118855592503123.png" style="width:100px;height:100px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" align="center">
            <div class="div_allinline">
                <div class="subdiv_allinline" style="color: rgb(126, 128, 129);">Copyright © 2008-2012快乐学习 Klxuexi.com
                    All Rights Reserved
                </div>
            </div>
            <div class="div_allinline" style="margin-top: 5px;">
                <div class="subdiv_allinline" style="color: rgb(126, 128, 129);">沪ICP备12024438号</div>

            </div>
        </div>
    </div>
</div>