<script type="text/javascript">
    $(function () {
        if ({$showCity}) {
            $('#myModal').modal('show');
        }
    });
</script>
<style>
    .top_bar{
        font-family: "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
        font-size: 13px;
    }
</style>
<div style="width:100%;height:auto;min-height:40px;background-color: #2E3440;color: #cccccc;">
    <div class="container top_bar">
        <div class="row">
            <div class="col-lg-3  col-md-3  col-sm-5 col-xs-6 cur" style="line-height:40px;">
                <a href="#" data-toggle="modal"
                   data-target="#myModal" style="color: #cccccc;">
                    <i class="fa fa-map-marker"></i>  {$city} <i class="fa fa-angle-down"></i>
                </a>
                <a href="#" style="color: #cccccc;margin-left: 20px;">
                   {$bu}
                </a>
            </div>
            <div class="col-lg-3  col-md-3  col-sm-5 col-xs-6  fr" style="line-height:40px;text-align: right;">
                <span>服务热线：<?php echo getBuTelNum($_SESSION['city'],$_SESSION['buType']);?></span>
                <!-- <span style="margin-left: 30px;">登录 | 注册</span>-->
            </div>
        </div>
    </div>
</div>

<!-- 城市选择模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" id="myModalLabel">
                    推荐城市：
                    <a class="btn btn-danger" href="__ROOT__/index.php/Home/Index/{$recommCityCode}">
                        {$recommCity}
                    </a>
                    <empty name="Think.session.city">
                        <!--<a class="btn btn-default fr" href="__ROOT__/index.php/Home/Index/modalCanel">
                            确定
                        </a>-->
                        <else/>
                        <button type="button" class="btn btn-default fr"
                                data-dismiss="modal">确定
                        </button>
                    </empty>
                </h4>
            </div>
            <div class="modal-body">
                <a class="btn" href="__ROOT__/index.php/Home/Index/xiamen">
                    厦门
                </a>
                <a class="btn" href="__ROOT__/index.php/Home/Index/fuzhou">
                    福州
                </a>
                <a class="btn" href="__ROOT__/index.php/Home/Index/quanzhou">
                    泉州
                </a>
                <a class="btn" href="__ROOT__/index.php/Home/Index/nanchang">
                    南昌
                </a>
                <a class="btn" href="__ROOT__/index.php/Home/Index/hefei">
                    合肥
                </a>
            </div>
            <div class="modal-footer">

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>