    <div style="height:auto;min-height:100px; border-top:1px solid #dddddd;">
        <p class="title7">友情链接</p>
        <p class="links">
            <a target="_blank" href="http://www.fzedu.gov.cn/">福州市教育局</a>
            <a target="_blank" href="http://www.eeafj.cn/">福建省教育考试院</a>
            <a target="_blank" href="http://www.neea.edu.cn/">中国教育考试网</a>
            <a target="_blank" href="http://www.eol.cn/">中国教育在线</a>
            <a target="_blank" href="http://www.fzedu.gov.cn/gz/">福州市高招咨询网</a>
            <a target="_blank" href="http://www.fzedu.gov.cn/zzb/">福州中招网</a>
            <a target="_blank" href="http://www.fjedu.gov.cn/">福建省教育厅</a>
            <a target="_blank" href="http://www.china-language.gov.cn/">中国语言文字网</a>
        </p>
    </div>