<style>
    .top_menu {
        font-family: "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
        font-size: 16px;
        color: #CCCCCC;
    }

    .top_menu .logo_img {
        width: 100px;
        height: 70px;
    }

    .top_menu ul li {
        float: left;
        line-height: 104px;
        margin-left: 10px;
        margin-right: 10px;
        list-style-type: none;
    }

    .top_menu ul li a {
        padding: 3px;
    }

    .search {
        border: 1px solid #CCCCCC;
        height: 30px;
        width: 200px;
        float: right;
        margin-top: 35px;
    }

    .search .input {
        border: none;
        height: 27px;
        width: 160px;
        float: left;
    }

    .search .btn {
        width: 38px;
        border: none;
        text-align: center;
    }

    .top_menu_active {
        border-bottom: 4px solid red;
    }

    .top_menu ul li a:hover {
        border-bottom: 4px solid green;
    }

    a:focus {
        text-decoration: none;
        border-top: 0px none;
        border-right: 0px none;
        border-left: 0px none;
        outline: none;
    }
</style>
<div style="width:100%;height:auto;min-height:104px;">
    <div class="container top_menu">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3" style="line-height:104px;">
                <a href="__ROOT__/index.php/Home/Index/<?php echo $_SESSION['city'];?>">
                    <img src="__PUBLIC__/images/logo.png" class="logo_img"/>
                </a>
            </div>
            <div class="col-lg-11 col-md-11 col-sm-10 col-xs-9">
                <ul style="width:100%;" id="menus_all">
                    <li><a href="#toppics" id="mainPage">首页</a></li>
                    <li><a href="#block1" id="courseSystem">课程体系</a></li>
                    <li><a href="#block2" id="courseFeature">课程特色</a></li>
                    <li><a href="#block3" id="courseContent">课程内容</a></li>
                    <li><a href="#block4" id="teachMode">教学模式</a></li>
                    <li><a href="#block5" id="teachIdea">教学理念</a></li>
                    <li><a href="#block6" id="trainFlow">辅导流程</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>