<style>
    .div_allinline {
        text-align: center;
        margin: 0 auto;
        padding: 0;
        clear: both;

    }

    .subdiv_allinline {
        margin: 0;
        padding: 0;
        display: inline-block;
        _display: inline;
        *display: inline;
        zoom: 1;
        margin-left: 20px;
        margin-right: 20px;
    }

    .cur {
        cursor: pointer;
    }

</style>

<div style="width:100%;height:auto;min-height:300px; background-color: #2E3440;">
    <div class="container">
        <div class="row" style="margin-top: 30px;">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 fl" >
                <div style="color: #CCCCCC;font-size: 16px;">公司链接</div>
                <div style="color: #fff;font-size: 14px;margin-top: 10px;">
                    <div><a href="{:U('Index/xiamen','')}"
                            style="font-style: normal;color: white;">厦门地区</a></div>
                    <div><a href="{:U('Index/fuzhou','')}"
                            style="font-style: normal;color: white;">福州地区</a></div>
                    <div><a href="{:U('Index/nanchang','')}"
                            style="font-style: normal;color: white;">南昌地区</a></div>
                    <div><a href="{:U('Index/quanzhou','')}"
                            style="font-style: normal;color: white;">泉州地区</a></div>
                    <div><a href="{:U('Index/hefei','')}" style="font-style: normal;color: white;">合肥地区</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 fl" >
                <div style="color: #CCCCCC;font-size: 16px;">旗下品牌</div>
                <div style="color: #fff;font-size: 14px;margin-top: 10px;">
                    <div>快乐学习</div>
                    <div><a href="http://www.entstudy.com/" style="font-style: normal;color: white;" target="_blank">疯狂老师</a>
                    </div>
                    <div>享学</div>
                    <div>问浩</div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 fl">
                <div style="color: #CCCCCC;font-size: 16px;">关于我们</div>
                <div style="color: #fff;font-size: 14px;margin-top: 10px;">
                    <div><a href="{:U('home/index/aboutus#introduce')}"
                            style="font-style: normal;color: white;">集团介绍</a></div>
                    <div><a href="{:U('home/index/aboutus#theory')}" style="font-style: normal;color: white;">教育理念</a>
                    </div>
                    <div><a href="{:U('home/index/aboutus#backgd')}" style="font-style: normal;color: white;">教育愿景</a>
                    </div>
                    <div><a href="{:U('home/index/contact')}" style="font-style: normal;color: white;">联系我们</a></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 fl">
                <div style="color: #CCCCCC;font-size: 16px;">关注我们</div>
                <div style="color: #fff;font-size: 14px;margin-top: 15px;">
                    <div>
                        <img src="__PUBLIC__/images/area/klxx_wx90.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" align="center">
            <div class="div_allinline" style="margin-top: 20px;">
                <div class="subdiv_allinline"
                     style="width:60px;height:60px;line-height:60px;text-align:center;border-radius: 50%;font-size: 30px;background-color: #43474E;color: #fff;">
                    <a href="http://weibo.com/klxuexi" style="color: #fff;"><i class="fa fa-weibo"></i></a></div>
                <div class="subdiv_allinline dropdown"
                     style="width:60px;height:60px;line-height:60px;text-align:center;border-radius: 50%;font-size: 30px;background-color: #43474E;color: #fff;">
                    <i class="fa fa-qq cur" title="QQ群：182600724" data-toggle="dropdown"></i>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);">QQ群：182600724</a>
                        </li>
                    </ul>
                </div>
                <div class="subdiv_allinline dropdown"
                     style="width:60px;height:60px;line-height:60px;text-align:center;border-radius: 50%;font-size: 30px;background-color: #43474E;color: #fff;">
                    <i class="fa fa-map-marker cur" title="总部地址：福建省 厦门市 思明区 文屏路 文屏大厦" data-toggle="dropdown"></i>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);">总部地址：福建省 厦门市
                            思明区 文屏路 文屏大厦</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" align="center">
            <div class="div_allinline" style="margin-top: 15px;">
                <div class="subdiv_allinline" style="color: rgb(126, 128, 129);">Copyright © 2008-2012快乐学习 Klxuexi.com
                    All Rights Reserved
                </div>

            </div>
            <div class="div_allinline" style="margin-top: 5px;margin-bottom: 5px">
                <div class="subdiv_allinline" style="color: rgb(126, 128, 129);">沪ICP备12024438号</div>
            </div>
        </div>
    </div>
</div>