<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="快乐学习,报考,备考,家教,补习,化学,物理,英语,语文,数学,厦门,福州,泉州,南昌,合肥,初一,初二,初三,高一,高二,高三,中考,高考" name="keywords"/>
<meta content="快乐学习教育科技集团，由快乐学习教育咨询工作室发展壮大而来。目前，集团核心业务包括：为中小学生提供专业的课外辅导，为大学生引导合理的职业生涯规划，为家长提供科学的家庭教育指导，
      为实施素质教育推广与传播快乐学习法。" name="description"/>
<!--<meta name="baidu-site-verification" content="LBXNgVWF5Q" />-->
<meta name="baidu-tc-verification" content="0f1e5ad74c03133845b3e6bc470560f8" />