    <div style="height:auto;min-height:100px; border-top:1px solid #dddddd;">
        <p class="title7">友情链接</p>
        <p class="links">
            <a target="_blank" href="http://www.hfjy.net.cn/">合肥教育网</a>
            <a target="_blank" href="http://cmp.hfzk.net.cn/">合肥市教育考试院信息查询系统</a>
            <a target="_blank" href="http://www.hfzk.net.cn/">合肥招生考试网</a>
            <a target="_blank" href="http://www.eol.cn/">中国教育在线</a>
            <a target="_blank" href="http://jys.hfjy.net.cn/">合肥教研网</a>
            <a target="_blank" href="http://www.hfjyyun.net.cn/App.ResourceCloud/">合肥教育云平台</a>
            <a target="_blank" href="http://www.ahedu.gov.cn/">安徽教育网</a>
            <a target="_blank" href="http://www.china-language.gov.cn/">中国语言文字网</a>
        </p>
    </div>