<div  id="block1" style="min-height:270px; ">
    <div class="container" style=" background-color: #fff;">
        <div class="row" align="center">
            <div class="col-lg-6 " style="padding-top: 30px;padding-bottom:15px;">
                <div style="width: 100%;margin-bottom: 20px;">
                    <div style="font-size: 18px;font-weight: bold;padding: 10px;color: #fff;background-color: #ff0000;width: 140px;border-radius: 10px;">
                        <i class="fa fa-users">
                            <a href="{:U('Index/dxb','','')}" style="color: #fff;font-size: 18px;font-weight: bold;">精品小班</a>
                        </i>
                    </div>
                </div>
                <div class="row nav_item_sub div_allinline" style="width: 100%;" >
                    <div class="subdiv_allinline" style="width: auto;text-align: center;" align="center">
                        <span><a href="{:U('course/index',array('grade'=>16),'')}">初一</a></span>
                        <span><a href="{:U('course/index',array('grade'=>17),'')}">初二</a></span>
                        <span><a href="{:U('course/index',array('grade'=>19),'')}">初三</a></span>
                        <span><a href="{:U('course/index',array('grade'=>26),'')}">高一</a></span>
                        <span><a href="{:U('course/index',array('grade'=>21),'')}">高二</a></span>
                        <span><a href="{:U('course/index',array('grade'=>18),'')}">高三</a></span>
                    </div>
                </div>
                <div class="row nav_item_sub div_allinline" style="width: 100%;text-align: center;" align="center">
                    <div class="subdiv_allinline" style="width: auto;text-align: center;" align="center">
                        <span><a href="{:U('course/index',array('subject'=>8),'')}">数学</a></span>
                        <span><a href="{:U('course/index',array('subject'=>6),'')}">英语</a></span>
                        <span><a href="{:U('course/index',array('subject'=>5),'')}">语文</a></span>
                        <span><a href="{:U('course/index',array('subject'=>9),'')}">物理</a></span>
                        <span><a href="{:U('course/index',array('subject'=>7),'')}">生物</a></span>
                        <span><a href="{:U('course/index',array('subject'=>10),'')}">化学</a></span>
                        <span><a href="{:U('course/index',array('subject'=>1),'')}">地理</a></span>

                    </div>
                </div>
            </div>
            <div class="col-lg-6" align="center" style="padding-top: 30px;padding-bottom:15px;">
                <div style="width: 100%;margin-bottom: 20px;">
                    <div style="font-size: 18px;font-weight: bold;padding: 10px;color: #fff;background-color: #ff0000;width: 140px;border-radius: 10px;">
                        <i class="fa fa-star-o"></i>
                        <a href="{:U('Index/gxh','','')}" style="color: #fff;font-size: 18px;font-weight: bold;">个性化定制</a>
                    </div>
                </div>
                <div class="row nav_item_sub div_allinline" style="width: 100%;text-align: center;">
                    <div class="subdiv_allinline nav_item_sub" style="width: auto;text-align: left;" align="center">
                        <span><a href="{:U('Index/gxh#block2')}">1对1课程</a></span>
                        <span><a href="{:U('Index/gxh#block2')}">MINI课程</a></span>
                        <span><a href="{:U('Index/gxh#block2')}">VIP晚自习</a></span>
                    </div>
                </div>
                <div class="row nav_item_sub div_allinline" style="width: 100%;text-align: center;">
                    <div class="subdiv_allinline nav_item_sub" style="width: auto;text-align: left;" align="center">
                        <span><a href="{:U('Index/gxh#block2')}">MVP课程</a></span>
                        <span><a href="{:U('Index/gxh#block2')}">中考全日制课程</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>